.filtering_of_goods_content_item-5 {
}
.filtering_of_goods_content_button {
}
.filtering_of_goods_content_item-5_help_read_more {
    margin-top: 30px;
    background-color: #1a1a25;
    width: 179px;
    padding: 20px;
    border-radius: 6px;

    @media (max-width: 980px) {
        display: none;
    }
}
.filtering_of_goods_content_item-5_text-1 {
    font-weight: 700;
    font-size: 14px;
    font-family: Inter;
    color: rgb(255, 255, 255);
    line-height: 17px;
    margin-bottom: 12px;
}
.filtering_of_goods_content {
    font-weight: 600;
    font-size: 14px;
    font-family: Inter;
    line-height: 17px;
    color: rgba(255, 255, 255, 0.8);
}
