.filtering_of_goods_container {
    @media (max-width: 600px) {
        position: fixed;
        transform: translateX(-105%);
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100vh;
        background-color: white;
        opacity: 0;
        transition: 0.7s;
        overflow: scroll;
    }
}
.filtering_of_goods_container_active {
    @media (max-width: 600px) {
        position: fixed;
        transform: translateX(0%);
        opacity: 1;
        transition: 0.7s;
    }
}
.filtering_of_goods_content {
    width: 180px;
    margin-left: 10px;
    @media (max-width: 600px) {
        width: 100%;
    }
}
.filtering_of_goods_content_filter {
    font-weight: 400;
    font-size: 14px;
    font-family: Inter;
    color: #384255;
    line-height: 20px;
    margin: 19px 0 11px 30px;
}
.filtering_of_goods_content_back_close span {
    font-weight: 700;
    font-size: 12px;
    font-family: Inter;
    color: rgba(75, 126, 232, 1);
    line-height: 15px;
}
.filtering_of_goods_content_back_close {
    display: none;
    width: 90%;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    margin-top: 25px;
    @media (max-width: 600px) {
        display: flex;
    }
}
