.button{
    //width: 158px;
    //height: 42px;
    background: #F53B49;
    border: none;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 12px 20px 13px 20px;
}


.button span{
        color: #ffffff;
        font: {
            family: Inter;
            weight: 700;
            size: 14px;
        };
        line-height: 17px;
    
}