.payment-systems_container {
    //margin-left: 77px;
}
.payment-systems_content {
    width: 254px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.payment-systems_content_visa {
}
.payment-systems_content_mastercard {
}
.payment-systems_content_symbols {
}
.payment-systems_content_paypal {
}