.fitness_category_container_wrap{
    max-width: 1920px;
    margin: 0 auto;
    background-color: #F6F6F6;
    padding-top: 30px;
    
    }
    
    
    
    .fitness_category_container {
        max-width: 1410px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));;
        gap: 30px;
        padding: 0 20px;
    padding-bottom: 30px;

    }
    
    