.button{
//width: 100%;
//height: 42px;
background: transparent;
border: 1px solid #ffffff;
border-radius: 4px;
display: flex;
align-items: center;
justify-content: center;
cursor: pointer;
margin-left: 30px;
padding: 12.5px 20px;
}


.button span{
    color: #ffffff;
    font: {
        family: Inter;
        weight: 900;
        size: 14px;
    };
    line-height: 17px;

}