.simulator_container {
    max-width: 1410px;
    margin: 0 auto;
    //display: flex;
    //height: 430px;
    
}

.simulator_container-1 {
    //display: flex;
    width: 100%;
    //justify-content: space-between;
    //height: 100%;
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows: 1fr;
    gap: 30px;
    @media (max-width:1410px){
        gap: calc(20px + 10 * ((100vw - 960px) / (1410 - 960)));
       
      }

      @media (max-width:800px){
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
       
      }


}
.title_simulator_card{
display: inline-block;
    color:  #000000;
    font: {
        family: Inter;
        weight: 800;
        size: 20px;
    };

    @media (max-width:1410px){
      font-size: calc(13px + 7 * ((100vw - 960px) / (1410 - 960)));
       margin-top: calc(20px + 10 * ((100vw - 960px) / (1410 - 960)));
       margin-left: calc(20px + 10 * ((100vw - 960px) / (1410 - 960)));

      }

      @media (max-width:960px){
        font-size: 13px;
      }
      @media (max-width:800px){
        margin-top: 20px;
        margin-left: 20px;
        
      }
      @media (min-width:1410px){

        margin-top: 30px;
        margin-left: 30px;

      }
}


.simulator_container-1_row-1{
    //display: flex;
     width: 100%;
    
    //height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 30px;
    @media (max-width:1410px){
        gap: calc(20px + 10 * ((100vw - 960px) / (1410 - 960)));
       
      }
      @media (max-width:800px){
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        justify-items: center;
        
      }
    //@media (max-width:1920px){
    //    width: calc(459px + 231 * ((100vw - 960px) / (1920 - 960)));
    //    height: calc(290px + 240 * ((100vw - 960px) / (1920 - 960)));
    
    //  }
    ////width: 49%;
    //justify-content: space-between;

}

.simulator_row-1_image_1 {
  background-image: url('../../../assets/img/run-1.png');
  background-color: #E9EAEF;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 330px;
  height: 430px;
  border-radius: 5px;
  cursor: pointer;

  @media (max-width:1410px){
    width: calc(220px + 110 * ((100vw - 960px) / (1410 - 960)));
    height: calc(290px + 140 * ((100vw - 960px) / (1410 - 960)));

  }
  @media (max-width:800px){
    width:  calc(320px + 100 * ((100vw - 320px) / (800 - 320)));
    height: 140px;
    background-position: right;
  }
}

.simulator_row-1_image_2 {
    background-image: url('../../../assets/img/run-2.png');
    background-color: #E9EAEF;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 330px;
    height: 430px;
    border-radius: 5px;
    cursor: pointer;
  

    @media (max-width:1410px){
    width: calc(220px + 110 * ((100vw - 960px) / (1410 - 960)));
    height: calc(290px + 140 * ((100vw - 960px) / (1410 - 960)));

    }
    @media (max-width:800px){
        width: calc(320px + 100 * ((100vw - 320px) / (800 - 320)));
        height: 140px;
        background-position: right;
      }
}


.simulator_container-1_row-2 {
    //display: flex;
    //flex-direction: column;
    //justify-content: space-between;
    width: 100%;


    //height: 430px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 30px;
    @media (max-width:1410px){
        gap: calc(20px + 10 * ((100vw - 960px) / (1410 - 960)));
       
      }

      @media (max-width:800px){
      justify-items: center;
      
        }




    //@media (max-width:1920px){
    //    width: calc(459px + 231 * ((100vw - 960px) / (1920 - 960)));
    //    height: calc(290px + 240 * ((100vw - 960px) / (1920 - 960)));
    
    //  }
}

.simulator_container_title{
    color:  #000000;
    font: {
        family: Inter;
        weight: 700;
        size: 43px;
    };
    margin: 120px 0 30px 20px;
    //line-height: 33px;
    @media (max-width:1410px){
       font-size: calc(28px + 1 * ((100vw - 320px) / (1410 - 320)));
       margin:  calc(80px + 40 * ((100vw - 320px) / (1410 - 320)))  0 30px 10px;
    
      }
      @media (max-width:800px){
text-align: center;
      }

}

.simulator_row-1_wrapp-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 30px;
    @media (max-width:1410px){
        gap: calc(20px + 10 * ((100vw - 960px) / (1410 - 960)));
       
      }


      @media (max-width:800px){
        width: calc(320px + 100 * ((100vw - 320px) / (800 - 320)));
       height: 140px;

      }


    //display: flex;
    //justify-content: space-between;
}

.simulator_row-1_wrapp-1_image_1 {
    background-image: url('../../../assets/img/run-3.png');
    background-color: #E9EAEF;
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 330px;
    height: 200px;
    border-radius: 5px;
    cursor: pointer;
  

    @media (max-width:1410px){
        width: calc(220px + 110 * ((100vw - 960px) / (1410 - 960)));
        height: calc(135px + 65 * ((100vw - 960px) / (1410 - 960)));
    
      }
      @media (max-width:800px){
        width:  calc(154px + 47 * ((100vw - 320px) / (800 - 320)));
        height: 140px;
        background-position-y: bottom;
        }
    
}
.simulator_row-1_wrapp-1_image_2 {
    background-image: url('../../../assets/img/run-4.png') ;
    background-color: #E9EAEF;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 330px;
    height: 200px;
    border-radius: 5px;
    cursor: pointer;
  
    @media (max-width:1410px){
        width: calc(220px + 110 * ((100vw - 960px) / (1410 - 960)));
        height: calc(135px + 65 * ((100vw - 960px) / (1410 - 960)));
    
      }

      @media (max-width:800px){
        width:  calc(154px + 47 * ((100vw - 320px) / (800 - 320)));    
        height: 140px;
        background-position-y: bottom;
        }
    

}

.simulator_row-1_wrapp-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 30px;
    @media (max-width:1410px){
        gap: calc(20px + 10 * ((100vw - 960px) / (1410 - 960)));
       
      }


      @media (max-width: 800px){
        width:  calc(320px + 100 * ((100vw - 320px) / (800 - 320)));
        height: 140px;
    }
    //display: flex;
    //justify-content: space-between;

}
.simulator_row-1_wrapp-2_image_1 {
    background-image: url('../../../assets/img/run-5.png');
    background-color: #E9EAEF;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 200px;
    width: 330px;
  border-radius: 5px;
  cursor: pointer;
   
    @media (max-width:1410px){
        width: calc(220px + 110 * ((100vw - 960px) / (1410 - 960)));
        height: calc(135px + 65 * ((100vw - 960px) / (1410 - 960)));
    
      }

      @media (max-width:800px){
        width:  calc(154px + 47 * ((100vw - 320px) / (800 - 320)));
        height: 140px;
        background-position-y: bottom;
        }
}
.simulator_row-1_wrapp-2_image_2 {
    background-image: url('../../../assets/img/run-6.png');
    background-color: #E9EAEF;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 200px;
    width: 330px;
    border-radius: 5px;
    cursor: pointer;
    @media (max-width:1410px){
        width: calc(220px + 110 * ((100vw - 960px) / (1410 - 960)));
        height: calc(135px + 65 * ((100vw - 960px) / (1410 - 960)));
    
      }

      @media (max-width:800px){
        width:  calc(154px + 47 * ((100vw - 320px) / (800 - 320)));
        height: 140px;
        background-position-y: bottom;
        }

}

.simulator_container-2 {

  margin-top: 30px;
  @media (max-width:1410px){
    margin-top: calc(20px + 10 * ((100vw - 960px) / (1410 - 960)));
  }
  
  margin-bottom: 30px;
}

.simulator_container-2_row-1{
  justify-items: center;
  width: 100%;
  display: grid;
  grid-template-columns:1fr 1fr;
  grid-template-rows: 1fr;
  gap: 30px;
  @media (max-width:1410px){
      gap: calc(20px + 10 * ((100vw - 960px) / (1410 - 960)));
     
    }

    @media (max-width:800px){
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
     
    }


}

.simulator_row-1_wrapp-3{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 30px;
  @media (max-width:1410px){
      gap: calc(20px + 10 * ((100vw - 960px) / (1410 - 960)));
     
    }


    @media (max-width: 800px){
      width:  calc(320px + 100 * ((100vw - 320px) / (800 - 320)));
      height: 140px;
  }
}
.simulator_row-1_wrapp-3_image_1{
  background-image: url('../../../assets/img/run-7.png');
  background-color: #E9EAEF;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 280px;
  width: 330px;
  border-radius: 5px;
  cursor: pointer;
  @media (max-width:1410px){
      width: calc(220px + 110 * ((100vw - 960px) / (1410 - 960)));
      height: calc(190px + 90 * ((100vw - 960px) / (1410 - 960)));
  
    }

    @media (max-width:800px){
      width:  calc(154px + 47 * ((100vw - 320px) / (800 - 320)));
      height: 140px;
      background-position-y: bottom;
      }
}
.simulator_row-1_wrapp-3_image_2{
  background-image: url('../../../assets/img/run-8.png');
  background-color: #E9EAEF;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 280px;
  width: 330px;
  border-radius: 5px;
  cursor: pointer;
  @media (max-width:1410px){
      width: calc(220px + 110 * ((100vw - 960px) / (1410 - 960)));
      height: calc(190px + 90 * ((100vw - 960px) / (1410 - 960)));

  
    }

    @media (max-width:800px){
      width:  calc(154px + 47 * ((100vw - 320px) / (800 - 320)));
      height: 140px;
      background-position-y: bottom;
      }
}
.simulator_row-1_wrapp-4{
  display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 30px;
    @media (max-width:1410px){
        gap: calc(20px + 10 * ((100vw - 960px) / (1410 - 960)));
       
      }


      @media (max-width: 800px){
        width:  calc(320px + 100 * ((100vw - 320px) / (800 - 320)));
        height: 140px;
    }

}
.simulator_row-1_wrapp-4_image_1{
  background-image: url('../../../assets/img/run-9.png');
  background-color: #E9EAEF;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 280px;
  width: 330px;
  border-radius: 5px;
  cursor: pointer;
  @media (max-width:1410px){
      width: calc(220px + 110 * ((100vw - 960px) / (1410 - 960)));
      height: calc(190px + 90 * ((100vw - 960px) / (1410 - 960)));

  
    }

    @media (max-width:800px){
      width:  calc(154px + 47 * ((100vw - 320px) / (800 - 320)));
      height: 140px;
      background-position-y: bottom;
      }
}
.simulator_row-1_wrapp-4_image_2{
  background-image: url('../../../assets/img/run-10.png');
  background-color: #E9EAEF;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 280px;
  width: 330px;
  border-radius: 5px;
  cursor: pointer;
  @media (max-width:1410px){
      width: calc(220px + 110 * ((100vw - 960px) / (1410 - 960)));
      height: calc(190px + 90 * ((100vw - 960px) / (1410 - 960)));
  
    }

    @media (max-width:800px){
      width:  calc(154px + 47 * ((100vw - 320px) / (800 - 320)));
      height: 140px;
      background-position-y: bottom;
      }
}


.simylator_active_bgr{
  background-color: #0d101284;
  transition: .4s;
  }
  
  
  .simylator_active_text{
  color: white;
  transition: .4s;
  }
  
  .simulator_button{
    width: 180px;
  }